@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500;600&display=swap');
:root{
    --primary-color:#091650;
    --secondary-color:#0abde3;
    --info-color:#5352ed;
    --box-color:rgba(155, 164, 241, 0.1);
    --font-color:rgb(138, 144, 207);
    --section-color:#110c5c;
    --font-asap:'Asap', sans-serif;
}
*::selection{
  background:cyan;
  color:coral;
}
body{
    font-family:var(--font-asap);
    background:linear-gradient(to bottom,rgb(21, 58, 180),var(--primary-color));
    overflow-x:hidden;
}

/* Start Header Section */
/* Start Navbar */
header{
    width:100%;
    height:60vh;
    position:relative;
   }

   nav{
    width:100%;
    /* box-shadow:0 10px 10px rgba(0,0,0,0.4); */
    background:rgba(26, 29, 153, 0.2);
    backdrop-filter:blur(10px);
    height:80px;

    position:fixed;
    top:0;
    left:0;
    z-index:10;

    display:flex;
    justify-content:space-between;
   }

   nav .navimg{
    line-height:80px;
   }

   .navbuttons{
    color:#fff;
    font-size:30px;
    font-weight:bold;
    cursor:pointer;
    /* line-height:80px; */
    position:absolute;
    top:15px;
    right:40px;
    display:none;
   }

   .navlists ul{
    list-style:none;
    margin:0;
    padding:0;
    line-height:80px;
    display:flex;
   }

   .navlists ul li a{
     text-decoration:none;
     color:#fff;
     font-size:18px;
     text-transform:uppercase;
     padding:15px 20px;
   }

   .navlists ul li a.active{
    color:cyan;
   }

   .navlists ul li:last-child a{
    background:var(--secondary-color);
    border-radius:50px;
    transition:all 0.6s ease;
   }

   .navlists ul li:last-child a:hover{
    background:none;
    box-shadow:0 0 10px rgba(0,0,0,0.6);
   }

   @media(max-width:1050px){
    .navlists ul{
      width:100%;
      height:100vh;
      background:var(--info-color);
      flex-direction:column;

      position:absolute;
      top:80px;
      left:0;
      z-index:10;

      transform:translateX(-100%);
      opacity:0;
    
      transition:all 0.5s ease;
    }

    .navlists ul.active{
      opacity:1;
      transform:scale(1) translateX(0);
    }

    .navlists ul li{
      margin-left:20px;
      line-height:3;
    }
    .navlists ul li a{
      font-size:18px;
    }

    .navbuttons{
      display:block;
    }
  
   }

   @media(max-width:700px){
    .navimg img{
        width:200px;
    }
   }

 /* End Navbar */

/* Start Banner Section */
.banners{
    width:50%;
    /* background:green; */
    position:absolute;
    top:50%;
    left:50%;

    transform:translate(-50%,-50%);
}
.banners h1{
    font-size:70px;
    font-weight:bold;
}

.banners p{
    font-size:20px;
}
@media(max-width:1000px){
    .banners{
        width:60%;
    }
    .banners h1{
        font-size:40px;
    }

    .banners p{
        font-size: 16px;
    }
}

@media(max-width:760px){
    .banners{
        width:80%;
    }
}

@media(max-width:600px){
    .banners{
        width:100%;
    }
}
/* End Banner Section */

/* Start Securitys Section */
.securities{
    background:var(--box-color);
    border-radius:15px;
    padding:30px 40px;
    transition:all 0.3s ease-in;
  }
  
  .securities:hover{
    border:1px solid cyan;
  }
  
  .securities img{
    padding:10px 0;
    transition:all 0.5s ease-in;
  }
  
  .securities:hover img{
    transform:translateY(-15px);
  }
  
  .securities h4{
    padding:10px 0;
    font-size:20px;
  }
  
  .securities p{
    font-size:17px;
    line-height:170%;
  }
/* End Securitys Section */

/* Start About us Section */
.works h1{
    font-size:50px;
    margin-bottom:20px;
  }
  
  .works p{
    font-size:18px;
    line-height:2;
  }
  
  .works ul li{
    line-height:2;
    font-size:18px;
  }
  
  .works ul li i{
    color:cyan;
  }
  
  @media(max-width:1295px){
    .works h1{
      font-size:35px;
    }
  }
  
  @media(max-width:790px){
    .aboutuss img{
      width:400px;
    }
    .works h1{
      font-size:22px;
    }
  
    .works p{
      color:#ccc;
      font-size:16px;
    }
    .works ul li{
      font-size:15px;
      text-align:start;
    }
  }

  /* End About us Section */

  /* Start Project Section */
  .project-boxs{
    background:var(--box-color);
    border-radius:15px;
    padding:40px;
  }

  .project-boxs img{
    margin-bottom:10px;
    transition:all 0.4s ease;
  }

  .project-boxs:hover img{
    transform:translateY(-15px);
  }

  .project-boxs:hover{
    border:1px solid cyan;
  }

  #countervalues{
    margin:5px;
    font-size:35px;
    font-weight:bold;
    position:relative;
  }

  .targets,.targets2{
    position:relative;
  }

  .targets::after{
    content:'%';
    color:#fff;
    font-size:35px;

    position:absolute;
    top:0;
    right:10%;
  }

  .project-boxs p{
    color:var(--font-color);
    font-size:16px;
  }

  .targets2::after{
    content:'+';
    font-size:25px;
    color:#fff;

    position:absolute;
    top:-20%;
    right:10%;
  }

  @media(max-width:991px){
    .targets::after{
        right:23%;
      }
     
  
  }

  @media(max-width:767px){
    .targets::after{ 
        right:30%;
      }
      .targets2::after{
        right:40%;
    }
  }

  @media(max-width:766px){
    .targets2::after{
        right:20%;
    }
  }

  @media(max-width:575px){
    .targets::after{  
        right:33%;
      }
      .targets2::after{
        right:30%;
    }
  }

  .getstarts{
    color:#fff;
    text-decoration:none;
    font-size:18px;
    padding:13px 30px;
    background:var(--secondary-color);
    border-radius:50px;
    transition:all 0.4s ease-in-out;
  }

  .getstarts:hover{
    color:#fff;
    background:transparent;
    border:1px solid cyan;
  }
 /* End Project Section */

 /* Start Member Section */
 .members{
    background:#110c5c;
 }

 .member-infos .fas{
    color:cyan;
    font-size:35px;
 }

 .member-infos p{
    margin-left:50px;
    font-size:17px;
    color:var(--font-color);
 }

 @media(max-width:991px){
    .member-infos p{
        margin-left:0;
    }
 }

 .titles{
    color:cyan;
    font-weight:300;
    text-transform:uppercase;
    font-size:22px;
    letter-spacing:3px;
 }

 .sub-titles{
    font-size:50px;
    font-weight:bold;
 }

 @media(max-width:1155px){
    .sub-titles{
        font-size:35px;
    }
 }

 .team-contents{
    height:470px;
    border-radius:10px;
    overflow:hidden;
    position:relative;
 }

 .team-imgs{
    width:100%;
    height:100%;
    overflow:hidden;
 }

 .team-imgs img{
    width:100%;
    height:100%;
    object-fit:cover;
    transition:all 0.3s ease;
 }

 .team-contents:hover img{
    transform:scale(1.04) rotate(1deg);
 }

 .team-infos{
    width:100%;
    height:100%;
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.4),rgba(0,0,0,0.9));

    position:absolute;
    top:0;
    left:0;
 }

 .team-infos > div{
    position:absolute;
    bottom:30px;
    left:20px;
 }

 .team-infos > div h6 a{
    display:block;
    color:rgb(202, 207, 223);
    margin-bottom:20px;
 }

 .team-infos > div a{
    text-decoration:none;
    color:#fff;
    transition:all 0.4s ease;
 }

 .team-infos > div a:hover,
 .team-infos > div ul li a:hover{
    color:cyan;
 }

 @media(max-width:1167px){
    .team-contents{
        height:300px;
    }
 }

 @media(max-width:987px){
    .team-contents{
        height:250px;
    }
 }

 @media(max-width:767px){
    .team-contents{
        height:400px;
    }
 }
 /* End Member Section */

 
/* Start Footer Section */
.footers p{
    color:var(--font-color);
   }
  
   .footerimgs p{
    line-height:2;
   }
  
   .ftitles{
    margin-top:15px;
    margin-bottom:40px;
   }
  
   .ftabouts ul li{
    line-height:2;
   }
  
   .ftabouts ul li a{
    text-decoration:none;
    color:#fff;
    font-size:18px;
    color:var(--font-color);
    position:relative;
    transition:all 0.3s ease-in;
   }
  
   .ftabouts ul li a:hover{
    color:cyan;
   }
  
   .ftabouts ul li a::before{
    content:'';
    width:0;
    height:3px;
    background:cyan;
  
    position:absolute;
    bottom:-5;
    left:0;
  
    transition:all 0.3s ease-in;
   }
  
   .ftabouts ul li a:hover::before{
     width:100%;
   }
  
   .email-boxs{
    width:100%;
    position:relative;
   }
   
   .email-boxs .form-control{
    background:transparent;
    border:1px solid cyan;
    color:#fff;
   }

   .email-boxs .form-control:focus{
    box-shadow:none;
   }
  
   .email-boxs .subicons{
    background:none;
    border:none;
    color:cyan; 
  
    position:absolute;
    top:50%;
    right:10px;
  
    transform:translateY(-50%);
   }
  
   .email-boxs .form-control::placeholder{
    color:var(--font-color);
   }
  
   .check{
    width:20px;
    height:20px;
    border:1px solid cyan;
    accent-color:cyan;
   }
  
   .rules{
    height:50px;
    line-height:50px;
   }
  /* End Footer Section */
  
  
  